# 操作系统生成的文件
.DS_Store
Thumbs.db

# Python 虚拟环境
venv/
.venv/
env/

# Python 编译后的字节码文件
*.pyc
__pycache__/

# 日志文件
*.log

# 临时文件
*.tmp

# 自动生成的文件
*.egg-info/
dist/
build/
*.egg

# 本地配置文件
settings_local.py
.env

# Jupyter Notebook 相关
.ipynb_checkpoints/